Full description of notebook
* gathering data for three.js project 
* result - csv id_task - user

# imports

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import networkx as nx

In [3]:
# read files

In [4]:
file_comments = 'github_1000stars_comments.csv'
file_issues = 'github_1000stars_issues.csv'
file_rep = 'mrdoob_three.js.csv'

In [5]:
df_comments = pd.read_csv(file_comments)
df_issues = pd.read_csv(file_issues)
df_rep = pd.read_csv(file_rep)

In [6]:
df_comments_copy = df_comments.copy()
df_issues_copy = df_issues.copy()
df_rep_copy = df_rep.copy()

In [7]:
path = 'data/'

In [8]:
def save_graph(G, graph_name):
    filepath = path + 'graph/' + graph_name + '.gexf'
    nx.write_gexf(G, filepath)

In [22]:
def save_csv(df, file_name):
    filepath = path + file_name + '.csv'
    df.to_csv(filepath, index = False)

# all reposistories

In [10]:
 df_issues['Repository'].value_counts()

[freeCodeCamp]freeCodeCamp                 10000
[mrdoob]three.js                           10000
[microsoft]terminal                        10000
[angular]angular                           10000
[kubernetes]kubernetes                     10000
[nodejs]node                               10000
[golang]go                                 10000
[ytdl-org]youtube-dl                       10000
[facebook]create-react-app                 10000
[vuejs]vue                                 10000
[microsoft]TypeScript                      10000
[facebook]react-native                     10000
[denoland]deno                             10000
[ohmyzsh]ohmyzsh                           10000
[microsoft]vscode                          10000
[facebook]react                            10000
[tensorflow]tensorflow                     10000
[twbs]bootstrap                            10000
[flutter]flutter                           10000
[ant-design]ant-design                     10000
[mui]material-ui                           10000
[tensorflow]models                          9474
[puppeteer]puppeteer                        9037
[TheAlgorithms]Python                       7778
[axios]axios                                4957
[electron]electron                          4838
[d3]d3                                      3232
[kamranahmedse]developer-roadmap            2485
[airbnb]javascript                          2448
[Snailclimb]JavaGuide                       1763
[30-seconds]30-seconds-of-code              1759
[getify]You-Dont-Know-JS                    1642
[animate-css]animate.css                    1565
[jwasham]coding-interview-university        1170
[laravel]laravel                            1145
[CyC2018]CS-Notes                            973
[ossu]computer-science                       960
[labuladong]fucking-algorithm                816
[trekhleb]javascript-algorithms              655
[jlevy]the-art-of-command-line               566
[codecrafters-io]build-your-own-x            528
[torvalds]linux                              449
[justjavac]free-programming-books-zh_CN      424
[donnemartin]system-design-primer            343
[jackfrued]Python-100-Days                   225
Name: Repository, dtype: int64

In [11]:
# repository = '[golang]go'
repository = '[mrdoob]three.js'
# repositiry = '[donnemartin]system-design-primer'
#repository = '[torvalds]linux'

In [12]:
df_go_comments = df_comments[df_comments['Repository'] == repository]
df_go_issues = df_issues[df_issues['Repository'] == repository]

In [13]:
# df_issues.head()

In [14]:
len(df_go_comments['ID'].values)

56868

In [15]:
len(df_go_issues['ID'].values)

10000

In [16]:
# list(df_go_comments['ID'].value_counts())

In [17]:
df_go_comments['ID'].value_counts()

9       1095
2981     125
395      118
4373     116
1435     105
        ...
263        1
5101       1
7091       1
3089       1
6096       1
Name: ID, Length: 9898, dtype: int64

In [18]:
df_go_issues['ID'].value_counts()

1        1
6847     1
6838     1
6839     1
6841     1
        ..
3372     1
3373     1
3374     1
3375     1
10430    1
Name: ID, Length: 10000, dtype: int64

# Three repository

In [23]:
df_three = df_issues[df_issues['Repository'] == '[mrdoob]three.js']

## Comments

In [19]:
df_three_comments = df_comments[df_comments['Repository'] == '[mrdoob]three.js']

In [20]:
df_three_comments.head()

,Repository,ID,User,CreatedAt,CountReactions,CountLike,CountDislike,Sentiment,SentimentScore
1063146,[mrdoob]three.js,1,mrdoob,2010-04-25,0,0,0,POSITIVE,0.9977
1063147,[mrdoob]three.js,1,splatcollision,2011-01-10,0,0,0,POSITIVE,0.9990
1063148,[mrdoob]three.js,2,mrdoob,2010-04-26,0,0,0,POSITIVE,0.7345
1063149,[mrdoob]three.js,2,Ovid,2010-04-26,0,0,0,POSITIVE,0.9975
1063150,[mrdoob]three.js,2,jurjen,2010-04-30,0,0,0,POSITIVE,0.9921

In [24]:
df_three.head()

,Repository,ID,User,Type,State,CommitId,CreatedAt,ClosedAt,IsMerged,CountReactions,CountLike,CountDislike
238087,[mrdoob]three.js,1,chrislloyd,issue,closed,NaN,2010-04-25,2010-04-26,False,0,0,0
238088,[mrdoob]three.js,2,Ovid,issue,closed,NaN,2010-04-26,2010-11-04,False,0,0,0
238089,[mrdoob]three.js,3,icidasset,issue,closed,NaN,2010-06-20,2010-06-21,False,0,0,0
238090,[mrdoob]three.js,4,SignpostMarv,issue,closed,NaN,2010-06-23,2010-06-24,False,0,0,0
238091,[mrdoob]three.js,5,SignpostMarv,issue,closed,NaN,2010-06-23,2010-06-23,False,0,0,0

In [25]:
df_three_comments['ID'].value_counts()

9562     339
9754     237
7522     165
5835     158
4776     153
        ...
7418       1
3810       1
3807       1
7423       1
10049      1
Name: ID, Length: 9364, dtype: int64

In [26]:
df_three['ID'].value_counts()

1        1
6685     1
6678     1
6679     1
6680     1
        ..
3338     1
3339     1
3340     1
3341     1
10049    1
Name: ID, Length: 10000, dtype: int64

Checking numbers of ID_comments == ID_pri

In [27]:
print("in df_three_comments we have len(ID) = ")
print(len(df_three_comments['ID'].value_counts()))

in df_three_comments we have len(ID) =
9364

In [28]:
print("in df_three pr/i we have len(ID) = ")
print(len(df_three['ID'].value_counts()))

in df_three pr/i we have len(ID) =
10000

In [29]:
print(min(df_three_comments['ID'].values))
print(max(df_three_comments['ID'].values))

1
10049

In [30]:
print(min(df_three['ID'].values))
print(max(df_three['ID'].values))

1
10049

In [33]:
df_check_id = df_three_comments['ID'].value_counts().to_frame('nb_actions_c').reset_index()
df_check_id = df_check_id.rename(columns={"index": "id_comments"})

In [34]:
df_check_id = df_check_id.sort_values(by='id_comments', ascending=True)

In [35]:
df_check_id.head()

      id_comments  nb_actions_c
5564            1             2
136             2            32
6210            3             2
3319            4             4
2720            5             6

In [ ]:
#todo: as 1st part?

## Full list of users (actions

In [36]:
df_three_users_ac = df_three.copy()

In [37]:
to_drop = ['Repository', 'Type', 'State', 'CommitId', 'CreatedAt', 'ClosedAt', 'IsMerged', 'CountReactions', 'CountLike', 'CountDislike']

In [38]:
df_three_users_ac = df_three_users_ac.drop(columns = to_drop)

In [39]:
df_three_users_ac.head()

        ID          User
238087   1    chrislloyd
238088   2          Ovid
238089   3     icidasset
238090   4  SignpostMarv
238091   5  SignpostMarv

In [47]:
df_three_users_c = df_three_comments.copy()

In [48]:
df_three_users_c.columns

Index(['Repository', 'ID', 'User', 'CreatedAt', 'CountReactions', 'CountLike',
       'CountDislike', 'Sentiment', 'SentimentScore'],
      dtype='object')

In [49]:
to_drop = ['Repository', 'CreatedAt', 'CountReactions', 'CountLike', 'CountDislike', 'Sentiment', 'SentimentScore']

In [50]:
df_three_users_c = df_three_users_c.drop(columns = to_drop)

In [51]:
df_three_users_c.head()

         ID            User
1063146   1          mrdoob
1063147   1  splatcollision
1063148   2          mrdoob
1063149   2            Ovid
1063150   2          jurjen

In [52]:
frames = [df_three_users_ac, df_three_users_c]

In [53]:
df_three_users_merged = pd.concat(frames)

In [54]:
df_three_users_merged = df_three_users_merged.sort_values(by='ID', ascending = True)

In [55]:
df_three_users_merged.head(15)

         ID            User
238087    1      chrislloyd
1063147   1  splatcollision
1063146   1          mrdoob
1063148   2          mrdoob
1063149   2            Ovid
1063179   2          mrdoob
1063178   2       mindlapse
1063177   2          mrdoob
1063176   2            sr3d
1063175   2          mrdoob
1063174   2            sr3d
1063173   2          mrdoob
1063172   2         D1plo1d
1063171   2          mrdoob
1063170   2         D1plo1d

In [56]:
df_three_users_merged_no_dupl = df_three_users_merged.drop_duplicates()

In [57]:
df_three_users_merged_no_dupl.head(10)

         ID            User
238087    1      chrislloyd
1063147   1  splatcollision
1063146   1          mrdoob
1063148   2          mrdoob
1063149   2            Ovid
1063178   2       mindlapse
1063176   2            sr3d
1063172   2         D1plo1d
1063150   2          jurjen
1063180   3          mrdoob

In [58]:
save_csv(df_three_users_merged_no_dupl,'three.js-id_commit-user')