Full description of notebook
* Microsoft data

# imports

In [78]:
import pandas as pd
import networkx as nx
from networkx.algorithms import bipartite
import matplotlib.pyplot as plt

In [69]:
# read files

In [70]:
path = 'data/'

In [71]:
def save_graph(G, graph_name):
    filepath = path + 'graph/' + graph_name + '.gexf'
    nx.write_gexf(G, filepath)

In [72]:
def save_csv(df, file_name):
    filepath = path + file_name + '.csv'
    df.to_csv(filepath, index = False)

In [74]:
file_three_js_task_user = 'three.js-id_commit-user.csv'

In [75]:
df_three_users_merged_no_dupl = pd.read_csv(path + file_three_js_task_user)

# test microsoft

In [455]:
repository = '[microsoft]TypeScript'

In [456]:
df_three_comments = df_comments[df_comments['Repository'] == repository]
df_three = df_issues[df_issues['Repository'] == repository]

In [457]:
df_three.head()

,Repository,ID,User,Type,State,CommitId,CreatedAt,ClosedAt,IsMerged,CountReactions,CountLike,CountDislike
226328,[microsoft]TypeScript,1,RyanCavanaugh,issue,closed,NaN,2014-07-14,2014-09-19,False,0,0,0
226329,[microsoft]TypeScript,2,danquirk,pull,closed,e9cd8a0e884d5c363b00facd5c6cf26045f46432,2014-07-14,2014-07-15,True,0,0,0
226330,[microsoft]TypeScript,3,danquirk,pull,closed,e9cd8a0e884d5c363b00facd5c6cf26045f46432,2014-07-15,2014-07-15,False,0,0,0
226331,[microsoft]TypeScript,4,DanielRosenwasser,pull,closed,455364cf5a2e4f9cece69599475677bb41e2ac36,2014-07-15,2014-07-15,False,0,0,0
226332,[microsoft]TypeScript,5,RyanCavanaugh,issue,closed,NaN,2014-07-15,2015-01-14,False,0,0,0

In [458]:
df_three_comments.head()

,Repository,ID,User,CreatedAt,CountReactions,CountLike,CountDislike,Sentiment,SentimentScore
1007222,[microsoft]TypeScript,1,RyanCavanaugh,2014-07-28,0,0,0,POSITIVE,0.9978
1007223,[microsoft]TypeScript,1,philipbulley,2014-08-08,0,0,0,POSITIVE,0.9945
1007224,[microsoft]TypeScript,1,basarat,2014-08-11,0,0,0,POSITIVE,0.9945
1007225,[microsoft]TypeScript,1,diverted247,2014-08-12,0,0,0,POSITIVE,0.9988
1007226,[microsoft]TypeScript,1,galloscript,2014-08-23,0,0,0,NEGATIVE,0.9996

In [459]:
df_three_users_ac = df_three.copy()
to_drop = ['Repository', 'Type', 'State', 'CommitId', 'CreatedAt', 'ClosedAt', 'IsMerged', 'CountReactions', 'CountLike', 'CountDislike']
df_three_users_ac = df_three_users_ac.drop(columns = to_drop)

In [460]:
df_three_users_ac.head()

        ID               User
226328   1      RyanCavanaugh
226329   2           danquirk
226330   3           danquirk
226331   4  DanielRosenwasser
226332   5      RyanCavanaugh

In [461]:
df_three_users_c = df_three_comments.copy()
to_drop = ['Repository', 'CreatedAt', 'CountReactions', 'CountLike', 'CountDislike', 'Sentiment', 'SentimentScore']
df_three_users_c = df_three_users_c.drop(columns = to_drop)

In [462]:
df_three_users_c.head()

         ID           User
1007222   1  RyanCavanaugh
1007223   1   philipbulley
1007224   1        basarat
1007225   1    diverted247
1007226   1    galloscript

In [463]:
frames = [df_three_users_ac, df_three_users_c]
df_three_users_merged = pd.concat(frames)
df_three_users_merged = df_three_users_merged.sort_values(by='ID', ascending = True)

## Merged

In [464]:
df_three_users_merged.head()

         ID           User
226328    1  RyanCavanaugh
1007247   1     ahejlsberg
1007246   1         jntrnr
1007245   1   NoelAbrahams
1007244   1  RyanCavanaugh

In [465]:
df_three_users_merged_no_dupl = df_three_users_merged.drop_duplicates()

In [466]:
df_three_users_merged_no_dupl.head()

         ID           User
226328    1  RyanCavanaugh
1007247   1     ahejlsberg
1007246   1         jntrnr
1007245   1   NoelAbrahams
1007243   1        csnover

In [467]:
len(df_three_users_merged_no_dupl)

33389

## prepare data

In [468]:
df_tmp = df_three_users_merged_no_dupl
id_pri = list(df_tmp["ID"].unique())
id_user = list(df_tmp["User"].unique())
nb_links = len(df_tmp)

In [469]:
size = range(0, nb_links)

edge_list = []
for i in size:
    left = df_tmp['ID'].iloc[i]
    right = df_tmp['User'].iloc[i]
    pair = (left, right)
    edge_list.append(pair)

### bipartite graph microsoft

In [470]:
# Create a bipartite graph
B = nx.Graph()
B.add_nodes_from(id_pri, node_type = "PRI", bipartite = 0)
B.add_nodes_from(id_user, node_type = "User", bipartite = 1)
B.add_edges_from(edge_list)

In [471]:
### users

In [472]:
G_users = bipartite.weighted_projected_graph(B, id_user)

In [473]:
save_graph(G_users, 'graph_users_microsoft')

### Save edge/node files

In [238]:
# path = 'data/'
filepath = path + '2_nodes.csv'
df_three_users.to_csv(filepath, index = False)

In [242]:
filepath = path + '2_edges.csv'
df_pri_c.to_csv(filepath, index = False)